@theme {
  --color-background: oklch(1 0 0); /* 背景色 */

  --color-default: oklch(0.94 0.001 286.375); /* 默认色 */
  --color-primary: oklch(0.6204 0.195 253.83); /* 主要色 */
  --color-success: oklch(0.7329 0.1935 150.81); /* 成功色 */
  --color-warning: oklch(0.7819 0.1585 72.33); /* 警告色 */
  --color-error: oklch(0.6532 0.2328 25.74); /* 错误色 */

  --color-default-hover: oklch(0.86 0.001 286.375); /* 默认悬停状态颜色 */
  --color-primary-hover: oklch(0.5404 0.195 253.83); /* 主要悬停状态颜色 */
  --color-success-hover: oklch(0.6529 0.1935 150.81); /* 成功悬停状态颜色 */
  --color-warning-hover: oklch(0.7019 0.1585 72.33); /* 警告悬停状态颜色 */
  --color-error-hover: oklch(0.5732 0.2328 25.74); /* 错误悬停状态颜色 */
}
